.marqueeHome {
  position: absolute;
  top: 87%;
  height: 13%;
  color: red;
  font-size: 80px;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
}

.marqtext {
  font-family: "Russo One", sans-serif;
  margin-right: 100px;
}
