.contentHome1 {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 67%;
  display: flex;
  /* background-color: blueviolet; */
}

.strHari,
.strTgl,
.strKota {
  color: cyan;
  font-family: "Russo One", sans-serif;
  font-size: 23px;
  padding: 5px;
}

.header1 {
  flex: 2;
}

.contentHome1 {
  flex: 7;
}

.content-right {
  display: flex;
  flex-direction: column;
  flex: 2;
  /* padding: 10px; */
  /* background-color: blue; */
}

.runtext1 {
  flex: 1;
  color: red;
}

img {
  /* object-fit: contain; */
  max-width: 100%;
  max-height: 100%;
}

/* .lblJam { */

.spanNamaClass {
  font-size: 80px;
}
